extends layout

block content
  h1  #{title} 
  
  hr 

  p Do you really want to delete this copy?
  p #[Strong CopyID:]
      a(href=book_instance.url) #{book_instance._id} 
  p #[strong Title:] 
     a(href=book_instance.book.url) #{book_instance.book.title}    
  p #[Strong Copy Status:] 
    if book_instance.status=='Available'
      p.text-success #{book_instance.status}
    else if book_instance.status=='Maintenance'
      p.text-danger #{book_instance.status} 
    else 
      p.text-warning #{book_instance.status}

  if book_instance.status!='Available'
    p #[Strong Due-back:]  #{book_instance.due_back_formatted}
    
  form(method='POST' action='')
    div.form-group
        input#authorid.form-control(type='hidden',name='id', required='true', value=book_instance._id )

    button.btn.btn-primary(type='submit') Delete